.screen{
    border: solid black;
    height: 52vh;
    background-image: url('https://cdn.wallpapersafari.com/80/71/JKChO6.gif');
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.mario{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: 54%
}
.goomba{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: 54%
    
}

.plumber, .shroom{
    height: 90px;
    width: 90px;
}

@keyframes attack {
    0%{
        transform: translateX(0vw);

    }

    100%{
        transform: translateX(-100vw);
    }
}

.initiateAttack{
    animation: attack 5s ease-in infinite;
}

.starter{
    width: 90%;
    height: 42px;
    margin: 1em;
}

.jumpMario{
    animation: bunnyHop 1s ease-in;
}

@keyframes bunnyHop {
    0%{
        transform: translateY(0vh);
    }
    50%{
        transform: translateY(-20vh);
    }
    100%{
        transform: translateY(0vh);
    }
}

.jbox{
    background-image: none;
    height: 90px;
    border: solid lime;
}

.jbox:hover{
    background-image: url('https://static.wikia.nocookie.net/crashban/images/3/36/Crash_Nitro_Kart_%3F_Crate.png/revision/latest/scale-to-width-down/250?cb=20170522000229');
    height: 90px;
    border: solid lime;
    -webkit-box-shadow: 5px 5px 27px 15px #4924FF; 
    box-shadow: 5px 5px 27px 15px #4924FF;
}