body{
    background-color: black;
}

.gameBoard{
    border: solid black;
    height: 52vh;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    border: solid white;
}

.legend{
    border: solid blue;
    border-radius: 22px;
    margin: 2em;
    height: 22vh;
    background-color: black;
    display: flex;
}

.us{
    border: solid lime;
    width: 30px;
    margin: 1em;
    float: left;
}

.them{
    border: solid salmon;
    margin: 1em;
    width: 210px;
    display: flex;
}

.score{
    border: solid yellow;
    border-radius: 22px;
    margin: 1em;
    padding: 1em;
    color: white;
}

.ship{
    height: 40px;
    float: left;
}

.alienContainer{
    border: solid white;
    height: 42vh;
    margin: 1em;
    color: lime;
    justify-content: space-around;
    
}

.alien{
    height: 40px;
}

.fireball{
    transform: rotate(-90deg);
    height: 20px;
    visibility: hidden;
}


@keyframes fire {
    from{
        visibility: visible;
        transform: rotateX(-90deg);
        transform: translateX(0%);
    }
    to{
        transform: rotateX(-90deg);
        transform:translateX(50vw);
    }  
}

.fireBlast{
    animation: fire 1s ease-in;
    height: 20px;
    width: 20px;
    transform: rotate(-90deg);
}

.healthbar{
    border: solid lime;
    height: 8px;
    border-width: .2px;
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

.fifty{
    background-color: yellow;
}

.full{
    background-color: green;
}

